<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="A simple countdown timer for the days of the week"
    />
    <meta
      name="keywords"
      content="countdown, timer, days, day, week, simple, easy, quick, fast, free, open source, open-source, open, source, javascript, js, html, css, web, web app, web-app, webapp, web-application, web-application, application"
    />
    <meta name="author" content="Dominik Ruschmann" />
    <meta name="theme-color" content="#0987e0" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Day Countdown</title>
  </head>
  <body class="bg-slate-900 text-blue-50">
<a href="/">&larr; Zur&uuml;ck</a>
<div class="my-7 mx-24">

  <h1 class="text-2xl font-bold my-6">Impressum</h1>
  
  <h2 class="text-lg my-2">Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
  <p class="my-1">Dominik Ruschmann<br />
    Kellerfeld 27<br />
    77836 Rheinm&uuml;nster</p>
    
    <h2 class="text-lg my-2">Kontakt</h2>
    <p>Telefon: +49 176 48095385<br />
      E-Mail: dominik.rsmn@gmail.com</p>
      
      <p>Quelle: <a class="text-blue-300 underline" href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>  
    </div>
</body>
</html>